package admin

import (
	"rcbs/templa/components"
)

templ htmlPage(title string, admin bool) {
	<!DOCTYPE html>
	<html lang="en">
		<head>
			@components.Head(title)
		</head>
		<body class="m-0 flex flex-col h-screen dark:bg-zinc-800 dark:text-white">
			@AdminNavbar()
			<main id="page" class="mb-auto container mx-auto p-4">
				{ children... }
			</main>
			@components.Footer()
			@components.Scripts()
		</body>
	</html>
}
