package admin

import (
	"rcbs/templa/components"
	"rcbs/templa/api/v1/users"
	"rcbs/models"
)

templ UsersPage(l []*models.User, parameters components.SearchParams) {
	@htmlPage("Users", true) {
		<hgroup class="flex justify-between items-baseline">
			<h1>Users</h1>
		</hgroup>
		<div class="border rounded border-zinc-100 dark:border-zinc-700 shadow p-4 md:p-8">
			@users.UsersForm(l, parameters, nil)
		</div>
	}
}
